{% extends 'base.html' %}
{% block content %}

<h1>Quizz App</h1>
<form action="{% url 'quizapp:result' %}" method="post">{% csrf_token %}
    {% for question in questions %}

        <h3>{{forloop.counter|add:0}}. {{question.title}}</h3>
        {% for answer in question.answer_set.all %}
            
   
                <p><input type="checkbox" name="answer_user" id="answer_user" value="{{answer.title}}"> <span>{{answer.title}}</span></p>


        {% endfor %}
    {% endfor%}
    <button type="submit" class="btn btn-primary" >Submit</button>
</form>
{% endblock content %}
